[Unit]
Description=Restic Backup Timer

[Timer]
OnCalendar={{ restic_backup_timer_oncalendar | default("*-*-* 02:00:00") }}
RandomizedDelaySec={{ restic_backup_timer_randomizeddelay | default("4h") }}
FixedRandomDelay=true
Persistent=true

[Install]
WantedBy=timers.target
